<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet" media="all">
    <title>article</title>

<body>
<div th:replace="fragments::header"></div>
<section class="py-5">
    <div class="container-fluid">
        <div class="row vh-100 align-content-center">
            <div class="w-100 p-5">
                <div class="col">
                    <form action="/submit/title" th:action="@{/article/submit}" method="post"
                          th:object="${titleAndAuthor}">
                        <fieldset class="border p-1">
                            <legend></legend>
                            <div class="form-floating mb-1">
                                <input type="text" th:field="*{title}" class="form-control" id="floatingInput"
                                       placeholder="title">
                                <label for="floatingInput">論文のタイトルを入力してください</label>
                            </div>
                            <div class="form-floating mb-1">
                                <input type="text" th:field="*{author}" class="form-control" placeholder="author">
                                <label for="floatingInput">論文の著者名を入力してください</label>
                                <div class="w-100"><br></div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary " type="submit">タイトルand/or著者名で論文を検索</button>
                                </div>
                            </div>
                            <ul th:if="${#fields.hasErrors('*')}">
                                <div class="text-danger">
                                    <li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
                                </div>
                            </ul>
                        </fieldset>
                    </form>
                    <div class="w-100"><br></div>
                    <div class="w-100"><br></div>
                    <div class="w-100"><br></div>
                    <div class="d-grid gap-2">
                        <a href="/" th:href="@{/}" class="btn btn-secondary"
                           type="submit">検索対象を本に変更</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments::footer"></div>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>