<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css}" rel="stylesheet">
    <title>books</title>
</head>

<body>
<div class="container">
    <!--    <div class="row gx-4 gx-lg-5">&lt;!&ndash; 意味を調べる&ndash;&gt;-->
        <div class="card-group">
            <div th:each="book, s:${list}" th:object="${book}">
                <div class="m-1">
                <div class="card" style="width: 26rem;">
                    <div class="card-body">
                        <ol>
                            <li th:text="*{title}">title</li>
                            <li th:text="*{creators}">creators</li>
                            <li th:text="*{publishedYear}">publishedYear</li>
                            <li th:text="*{publisher}">publisher</li>
                            <li th:text="*{isbn}">isbn</li>
                        </ol>
                        <div class="card-footer bg-transparent">
                            <p class="text-center text-muted" th:text="|${s.count}/${s.size}|">
                                x/y
                            </p>
                        </div>

                        <form action="/confirmed" th:action="@{/confirmed}" method="post">
                            <input type="hidden" name="title" th:value="*{title}">
                            <input type="hidden" name="publisher" th:value="*{publisher}">
                            <input type="hidden" name="isbn" th:value="*{isbn}">
                            <input type="hidden" name="publishedYear" th:value="*{publishedYear}">
                            <input type="hidden" name="creators" th:value="*{creators}">
                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-primary " type="submit">この本に確定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>

</html>