<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css}" rel="stylesheet">
    <title>CitedBook</title>
</head>

<body>
<div class="container">
    <div class="row vh-100 align-content-center">
        <div class="col">
            <h1 th:text="${bookinfo}" th:id="APA">bookApa</h1>
            <h1 th:text="MLAtext" th:id="MLA">bookMla</h1>
            <h1 th:text="Chicagotext" th:id="Chicago">bookChicago</h1>
            <div class="py-1">
                <div class="d-grid gap-5">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" th:onclick="changeDisplay('APA')" class="btn-check" name="btnradio"
                               id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btnradio1">APA</label>

                        <input type="radio" th:onclick="changeDisplay('MLA')" class="btn-check" name="btnradio"
                               id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">MLA</label>

                        <input type="radio" th:onclick="changeDisplay('Chicago')" class="btn-check" name="btnradio"
                               id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">Chicago</label>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                <a class="btn btn-primary" href="/" role="button">検索画面に戻る</a>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/citedbook.js}"></script>
</body>

</html>