<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Refauto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link active" href="/">本を探す</a>
                <a class="nav-link active" href="/article">論文を探す</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
                <a class="nav-link active" href="/article">ご利用にあたっての注意</a>
            </div>
        </div>
    </div>
</nav>
</header>
<footer th:fragment="footer">
<!--    //TODO-->
</footer>
</html>